body {
    margin: auto;
    background-color: indigo;
}

.miolo {
    background-color: lightslategray;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 15px;
}